@font-face {
  font-family: "BroadwayD";
  src: url("./fonts/BroadwayD.ttf") format("truetype");
}
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
}
.Loading {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("/Users/isaacbarcroft/Documents/Portfolio/Portfolio/src/assets/gradient-background.webp");
  /* Adjust the alpha value (0.5) to make it slightly opaque */
}
.loading-text {
  background: linear-gradient(90deg, #0bd2d3, #f990e8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: BroadwayD;
}

.App-header {
  margin: 24px;
  border: 1px #0bd2d3 solid;
  box-shadow: 0 0 20px #f990e8;
  padding: 16px;
  background-color: transparent;
  background-image: url("/Users/isaacbarcroft/Documents/Portfolio/Portfolio/src/assets/gradient-background.webp");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f990e8;
  max-height: 100vh;
  flex: 1;
  position: sticky;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-effect {
  color: #f990e8; /* Set initial text color to match shimmer color */
  padding: 10px; /* Add padding for better visibility */
  position: relative; /* Add position relative for pseudo-element */
  overflow: hidden; /* Hide overflow to contain pseudo-element */
  transition: text-shadow 0.5s; /* Add a smooth transition for the text shadow */
}

.shimmer-effect:hover {
  text-shadow: 0 0 5px #f990e8, 0 0 10px #f990e8, 0 0 15px #f990e8;
  cursor: pointer;
}

.anchor-link {
  display: inline-block;
  margin: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.anchor-link:hover {
  transform: scale(1.1); /* Increase the size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
}
@keyframes shimmerLoader {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.shimmer-loader {
  overflow: hidden;
  position: relative;
}

.shimmer-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(11, 210, 211, 0),
    rgba(11, 210, 211, 0.3),
    rgba(11, 210, 211, 0)
  );
  animation: shimmerLoader 1.5s infinite;
}

.App-logo {
  display: flex;
  border: 1px #f990e8 solid;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 10px #f990e8;
  transition: box-shadow 0.3s ease-in-out;
}

.App-logo:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #f990e8;
}

.content-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.popup {
  position: absolute;
  top: 40px; /* Adjust the distance from the icon */
  left: 50%;
  /* transform: translateX(50%); */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.popup div {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.popup div:hover {
  background-color: #f1f1f1;
}

.link {
  text-decoration: none;
  color: #f990e8;
  font-size: 16px;
}

.tech-icons {
  border: 1px #f990e8 solid;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: BroadwayD;
  /* border-radius: 16px; */
  color: #0bd2d3;
  padding: 8px;
  margin: 8px;
}
