@font-face {
  font-family: "BroadwayD";
  src: url("./fonts/BroadwayD.ttf") format("truetype");
}
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: black;
}
.Resume {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}
.Loading {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("/Users/isaacbarcroft/Documents/Portfolio/Portfolio/src/assets/gradient-background.webp");
}
.loading-text {
  background: linear-gradient(90deg, #0bd2d3, #f990e8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: BroadwayD;
}
iframe {
  width: 100vw;
  height: 100vh;
}
.App-header {
  margin: 24px;
  border: 1px #0bd2d3 solid;
  box-shadow: 0 0 20px #f990e8;
  padding: 16px;
  background-color: transparent;
  background-image: url("/Users/isaacbarcroft/Documents/Portfolio/Portfolio/src/assets/gradient-background.webp");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f990e8;
  max-height: 100vh;
  flex: 1;
  position: sticky;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-effect {
  color: #f990e8;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: text-shadow 0.5s;
}

.shimmer-effect:hover {
  text-shadow: 0 0 5px #f990e8, 0 0 10px #f990e8, 0 0 15px #f990e8;
  cursor: pointer;
}

.anchor-link {
  display: inline-block;
  margin: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.anchor-link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@keyframes shimmerLoader {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.shimmer-loader {
  overflow: hidden;
  position: relative;
}

.shimmer-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(11, 210, 211, 0),
    rgba(11, 210, 211, 0.3),
    rgba(11, 210, 211, 0)
  );
  animation: shimmerLoader 1.5s infinite;
}

.App-logo {
  display: flex;
  border: 1px #f990e8 solid;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 10px #f990e8;
  transition: box-shadow 0.3s ease-in-out;
}

.App-logo:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #f990e8;
}

.content-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (width < 768px) {
  .App {
    /* height: 100%;
    width: 100%; */
  }
  .content-Container {
    flex-direction: column;
  }
}

.popup {
  position: absolute;
  top: 40px;
  left: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.popup div {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.popup div:hover {
  background-color: #f1f1f1;
}

.link {
  text-decoration: none;
  color: #f990e8;
  font-size: 16px;
}

.tech-icons {
  border: 1px #f990e8 solid;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: BroadwayD;
  color: #0bd2d3;
  padding: 8px;
  margin: 8px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.works-links {
  font-family: BroadwayD;
  color: #0bd2d3;
  padding: 8px;
  font-size: 24px;
  background: linear-gradient(90deg, #f990e8, #0bd2d3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.works-links:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0 0 5px #f990e8, 0 0 10px #f990e8, 0 0 15px #f990e8;
}
