.App {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f990e8;
  max-height: 100vh;
  flex: 1;
  position: sticky;
}

@font-face {
  font-family: "BroadwayD";
  src: url("./fonts/BroadwayD.ttf") format("truetype");
}

.App-main {
  padding: 62px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0bd2d3;
  flex: 1;
  overflow: scroll;
  font-family: "BroadwayD";
}
